<div class="row">
  <div class="col">
  <div class="card bd-callout-info " *ngFor="let job of jobs">
    <div class="card-header bg-info">
      <h3><a href="#" [routerLink]="['/jobs', job.id]" class="text-dark" >{{ job.title }}</a></h3>
      <div class="font-weight-bold">{{ job.company }} - {{ job.city }} - {{ job.zipcode }}</div>
    </div>
    <div class="card-body">
      {{ job.description }}
    </div>
    <div class="card-footer text-muted ">
        parue il y a {{job.publishdate | daysAgo}}
    </div>
  </div>
  </div>
</div>