<div class ="panel-body">
  <!-- formGroup permet d'afficher le formulaire de type group dans le fichier job-add-form.component.ts
        ngSubmit est le retour du formulaire lorsque l'utilisateur l'aura encodé voir job-add-component.ts pour voir le traitement de celui-ci dans la fonction createJob-->
  <form [formGroup]="form"(ngSubmit)="createJob(form.value)">
    <div class="row">
     <div class="col"> 
        <div class="form-group col-sm-6">
          <label for="title" class="alert-link">titre</label>
          <input type="text"
                  name="title"
                  class="form-control"
                  placeholder="titre de votre annonce"
                  formControlName="title"
          > <!--formContorlName permet de dire à quoi va correspondre le dansle squelette du formulaire-->
          <label for="company" class="alert-link">entreprise</label>
          <input type="text"
                  name="company"
                  class="form-control"
                  placeholder="nom de votre entreprise"
                  formControlName="company"
          >
          <label for="city" class="alert-link">ville</label>
          <input type="text"
                  name="Ville"
                  class="form-control"
                  placeholder="Ville du poste de travail"
                  formControlName="city"
          >

          <label for="zipcode" class="alert-link">code postal</label>
          <input type="text"
                  name="zipcode"
                  class="form-control"
                  placeholder="code postal"
                  formControlName="zipcode"
          >
        </div> 
    </div>
    <div class="col">
        <div class="form-group col-sm-6">    
            <label for="comment" class="alert-link">Description: </label>
            <textarea class="form-control"  name="description" rows="9" formControlName="description"></textarea>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="form-group col-sm-6" >
              <label for = "contract" class="alert-link">contrat</label>
              <select name="contract" formControlName="contract">
                <option *ngFor ="let ct of contractTypes" [value]="ct.value">{{ct.name}}</option> 
                <!--*ngfor boucle for tu met "let" puis un nom de variable of et le nom du tableau-->
              </select>
        </div>
        
        <div class="form-group col-sm-12">
            <label for="salary" class="alert-link">salaire</label>
            <br>
              <input type="text"
                      name="salary"
                      class="small-text"
                      placeholder="salaire"
                      formControlName="salary"
                      
              >
              <select name="currency" formControlName="currency"class="currency">
                <option *ngFor ="let sym of currencies" [value]="sym.value" > {{sym.name}} </option>
              </select>
        </div>
        <div class="form-group col-sm-12">
                <label for="experience" class="alert-link">expérience</label> 
                <br>   
                <select name="experience" formControlName="experience">
                  <option *ngFor="let exp of experience" [value]="exp.value">{{exp.name}}</option>
                </select>
                <br>      
                <label for="status" class="alert-link">statut</label> 
                <br>         
                <select name="status" formControlName="status">
                  <option *ngFor="let status of statuses" [value]="status.value">{{status.name}}</option>
                </select>             
        </div>
    </div>
    <div class="col">
            <div class="form-group col-sm-12">
              <label for="area" class="alert-link">Déplacements</label>
              <div *ngFor="let area of areas">
              <input type="radio"
                    [id]='"btn-"+area.value'
                    name="area"
                    [value]="area.value"
                    formControlName="area"
              ><Label [for]='"btn-"+ area.value'>{{area.name}}</Label>  
              </div>    
            </div>

            <div class="form-group col-sm-12">
              <!--affiché le petit calendrier grace au type date (il faut importer pipe: voir le site date-fns -->
              <label for="startdate" class="alert-link">date de démarrage</label>
              <br>
              <input type="date"  
                    name="startdate"
                    formControlName="startdate">             
           </div>
    </div>
          <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-success"> créer l'annonce </button>
          </div>
      </div>
  </form>
</div>
